{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="container-fluid flex-grow-1">
        <h1 class="my-4">{% translate 'Users' %}</h1>
        <table class="table table-striped">
            <thead>
                <tr class="fw-weight-bold">
                    <th scope="col" >ID</th>
                    <th scope="col">{% translate 'Username' %}</th>
                    <th scope="col">{% translate 'Full Name' %}</th>
                    <th scope="col">{% translate 'Creation date' %}</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td><a href="{% url 'users:detail' user.id %}">{{user.username}}</a></td>
                    <td>{{user.first_name}} {{user.last_name}}</td>
                    <td>{{user.date_joined}}</td>
                    <td>
                        <a href="{% url 'users:update' user.id %}">{% translate 'Edit' %}</a><br>
                        <a href="{% url 'users:delete' user.id %}">{% translate 'Delete' %}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
