.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history


.env 
.venv 
env/ 
venv/ 

.python-version

htmlcov/ 
.tox/ 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
nosetests.xml 
coverage.xml 
*.cover 
.hypothesis/ 


*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

*.bak

__pycache__/

.sonar/