{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container-fluid flex-grow-1">
    <h1 class="my-4">{% translate 'Tasks' %}</h1>

    <a class="btn btn-primary mb-3" href="{% url 'tasks:create' %}">
        {% translate 'Create a task' %}
    </a>

    <button class="btn btn-secondary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">
        {% translate 'Filter' %}
    </button>

    <!--<div class="collapse" id="filterCollapse">-->
        <div class="card mb-3">
            <div class="card-body bg-light">
                <form method="get">

                    <div class="mb-3">
                        <label class="form-label" for="id_status">{% translate 'Status' %}</label>
                        {{ filter.form.status }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="id_executor">{% translate 'Executor' %}</label>
                        {{ filter.form.executor.get_full_name }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="id_labels">{% translate 'Labels' %}</label>
                        {{ filter.form.labels }}
                    </div>

                    <div class="form-check mb-3">
                        {{ filter.form.self_tasks }}
                        <label class="form-check-label" for="id_self_tasks">
                            {% translate 'Only my tasks' %}
                        </label>
                    </div>

                    <button class="btn btn-primary" type="submit">
                        {% translate 'Show' %}
                    </button>

                </form>
            </div>
        </div>
    <!--</div>-->

    <table class="table table-striped">
        <thead>
            <tr class="fw-weight-bold">
                <th>ID</th>
                <th>{% translate 'Name' %}</th>
                <th>{% translate 'Status' %}</th>
                <th>{% translate 'Author' %}</th>
                <th>{% translate 'Executor' %}</th>
                <th>{% translate 'Creation date' %}</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        {% for task in filter.qs %}
            <tr>
                <td>{{ task.id }}</td>
                <td><a href="{% url 'tasks:detail' task.id %}">{{ task.name }}</a></td>
                <td>{{ task.status }}</td>
                <td>{{ task.author.get_full_name }}</td>
                <td>
                    {% if task.executor.get_full_name %}
                        {{ task.executor.get_full_name }}
                    {% else %}
                        {{ task.executor.username }}
                    {% endif %}
                </td>
                <td>{{ task.created_at }}</td>
                <td>
                    <a href="{% url 'tasks:update' task.id %}">{% translate 'Edit' %}</a><br>
                    <a href="{% url 'tasks:delete' task.id %}">{% translate 'Delete' %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock content %}
