{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">{% translate 'Login' %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="mb-3">
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.username.errors }}
        </div>

        <div class="mb-3">
            {{ form.password.label_tag }}
            {{ form.password }}
            {{ form.password.errors }}
        </div>

        <button type="submit" class="btn btn-primary">{% translate 'Log in' %}</button>
    </form>
</div>
{% endblock content %}